.ruby-version
.bash_profile
.bashrc
vim/.netrwhist
vim/colors/*
vim/repos
vim/vimbackup
ignores
vim/.cache/
vim/cache_vim
vim/state_vim.vim
vim/cache_Vim
vim/state_Vim.vim
vim/state_vi.vim
vim/cache_vi
phpenv/
git-completion.bash
vim/view/
